<section class="waitress-content">
    <h1>Repository details</h1>
    <p>This repository has been succesfully cloned into repositories directory.</p>
    
    <article class="waitress-subcontent">
        <div class="waitress-loader pull-left" data-ng-show="states.isInitializing">
            <img src="images/loader.gif" alt="loader" />
            <span>Getting repository details &hellip;</span>
        </div>

        <section data-ng-hide="states.isInitializing">
            <dl>
                <dt>Repository author</dt>
                <dd>{{ repository.author }}</dd>
            </dl>
            <dl>
                <dt>Repository name</dt>
                <dd>{{ repository.name }}</dd>
            </dl>
            <dl>
                <dt>Repository source</dt>
                <dd>http://github.com/{{ repository.author }}/{{ repository.name }}</dd>
            </dl>
            <dl>
                <dt>Gruntfile</dt>
                <dd>File is {{ repository.isGruntfilePresent ? 'present' : 'absent' }}</dd>
            </dl>
            <dl>
                <dt>package.json</dt>
                <dd>File is {{ repository.isGruntfilePresent ? 'present' : 'absent' }}</dd>
            </dl>
        </section>

        <menu class="waitress-buttons pull-right distant-top clear-both">
            <button class="waitress-button waitress-button-warning" data-ng-click="states.isRemovalDisabled = !states.isRemovalDisabled">
                <div class="icon" data-ng-include="getSvgFrom('icons/lock')"></div>
                <span class="title" data-ng-show="states.isRemovalDisabled">Unlock removal</span>
                <span class="title" data-ng-hide="states.isRemovalDisabled">Lock removal</span>
            </button>
            
            <button class="waitress-button waitress-button-failure" data-ng-disabled="states.isRemovalDisabled" data-ng-click="remove()">
                <div class="icon" data-ng-include="getSvgFrom('icons/trash')"></div>
                <span class="title">Remove this repository</span>
            </button>
        </menu>
    </article>
    
    <article class="waitress-subcontent"
             data-ng-include="getTemplateFrom('views/repositories/details/versions')"
             data-ng-controller="repositoriesDetailsVersions"></article>
    
    <article class="waitress-subcontent"
             data-ng-include="getTemplateFrom('views/repositories/details/exposures')"
             data-ng-controller="repositoriesDetailsExposures"></article>
</section>