<h2>Websites &bull; {{ repository.author }}/{{ repository.name }}</h2>
<p>Configuration of the website.</p>

<section class="waitress-websites-details-list">
    <section>
        <dl>
            <dt>Repository</dt>    
            <dd>
                <span>{{ repository.author }}/{{ repository.name }}</span>
            </dd>
        </dl>
    </section>
    
    <section class="pull-left">
        <dl>    
            <dt>Internal port</dt>
            <dd>
                <span>3000</span>
            </dd>
        </dl>
        <dl>    
            <dt>Domains</dt>
            <dd>
                <span>www.maciejmazur.com</span>
                <span>www.magicwrites.net</span>
                <span>*.maciejmazur.com</span>
                <span>*.magicwrites.net</span>
            </dd>
        </dl>
    </section>

    <section class="pull-right">
        <dl>
            <dt>Latest version</dt>    
            <dd>
                <span>0.2.1</span>
            </dd>
        </dl>
        <dl>
            <dt>Public version</dt>    
            <dd>
                <span>0.2.0</span>
            </dd>
        </dl>
        <dl>
            <dt>Stored versions</dt>    
            <dd>
                <span>0.1.6</span>
                <span>0.1.3</span>
                <span>0.0.5</span>
            </dd>
        </dl>
    </section>
</section>