<h2>Running versions</h2>

<p>Your repository is deployed in two environments, latest and public. The first one is used for development purposes, to test out how the latest version of the master branch behaves on the live environment. The public version is used externally, is available for public use and can be assigned domains.</p>

<dl>
    <dt>Latest pull</dt>
    <dd>{{ repository.dateOfLatestPull | date: dateFormats.datetime }}</dd>
</dl>
<dl>
    <dt>Last publishing</dt>
    <dd>{{ repository.dateOfLatestPull | date: dateFormats.datetime }}</dd>
</dl>
<dl>
    <dt>Version of latest</dt>
    <dd>{{ repository.versions.latest || 'Version from package.json is unknown' }}</dd>
</dl>
<dl>
    <dt>Version of published</dt>
    <dd>{{ repository.versions.public || 'Version from package.json is unknown' }}</dd>
</dl>

<menu class="waitress-buttons distant-top pull-right clear-both" data-ng-hide="states.isPulling || states.isPublishing">
    <button class="waitress-button waitress-button-success" data-ng-click="pull()">
        <div class="icon" data-ng-include="getSvgFrom('icons/github')"></div>
        <span class="title">Pull latest version</span>
    </button>
    
    <button class="waitress-button waitress-button-success" data-ng-click="expose()">
        <div class="icon" data-ng-include="getSvgFrom('icons/copy')"></div>
        <span class="title">Publish latest version</span>
    </button>
</menu>

<div class="waitress-loader pull-right" data-ng-show="states.isPulling || states.isPublishing">
    <img src="images/loader.gif" alt="loader" />
    <span data-ng-show="states.isPulling">Pulling latest version of repository &hellip;</span>
    <span data-ng-show="states.isPublishing">Publishing latest version of repository &hellip;</span>
</div>