<section class="waitress-content waitress-view-user-authorize">
    <h1>Sign in</h1>
    <p>You are currently unauthorized to use waitress. Provide valid credentials in order to restore access.</p>

    <form>
        <fieldset data-ng-disabled="isAuthorizing">
            <label for="name">Username</label>
            <input  id="name" type="text" data-ng-model="form.name" placeholder="Your name" />
        </fieldset>

        <fieldset data-ng-disabled="isAuthorizing">
            <label for="password">Password</label>
            <input  id="password" type="password" data-ng-model="form.password" placeholder="Your password" />
        </fieldset>

        <button class="waitress-button waitress-button-success pull-right" data-ng-hide="isAuthorizing" data-ng-click="authorize()">
            <div class="icon" data-ng-include="getSvgFrom('icons/key')"></div>
            <span class="title">Sign in</span>
        </button>

        <div class="waitress-loader pull-right" data-ng-show="isAuthorizing">
            <img src="images/loader.gif" alt="loader" />
            <span>Authorizing &hellip;</span>
        </div>
    </form>
    
    <strong class="color-failure pull-left" data-ng-show="numberOfFailures">Credentials you have provided are invalid.</strong>
</section>