@import 'variables';



body * {
    .box-sizing(border-box);
}

html {
    margin: 0;
    padding: 0;
    font-size: 11pt;
    line-height: 2em;
}

body {
    margin: 0;
    padding: 1em 0;
    min-height: 100%;
    font-family: 'Open Sans';
    color: @colorForReading;
    background: @colorForBackground;
    overflow-y: scroll;
}

button {
    font-family: 'Open Sans';
}



a {
    color: @colorForLink;
    text-decoration: none;
    .transition(color @timeForTransition);
    
    svg {
        fill: @colorForLink;
    }

    &.active,
    &:hover {
        color: @colorForLinkHighlighted;
        text-shadow: 0 0 0.25em @colorForShadow;
        
        svg {
            fill: @colorForLinkHighlighted;
            -webkit-filter: drop-shadow( 0 0 0.25em @colorForLink );
                    filter: drop-shadow( 0 0 0.25em @colorForLink );
            .transition(all @timeForTransition);
        }
    }
}