@colorForReading: rgb(128, 128, 128);
@colorForReadingEmphased: rgb(64, 64, 64);
@colorForReadingMuted: rgb(144, 144, 144);
@colorForBackground: rgb(244, 244, 244);
@colorForBackgroundEmphased: rgb(255, 255, 255);

@colorForLogo: @colorForBackgroundEmphased;
@colorForLogoBackground: rgb(138, 159, 201);
@colorForLogoBackgroundHighlighted: rgb(111, 135, 181);

@colorForFailure: rgb(170, 121, 121);
@colorForWarning: rgb(186, 181, 135);
@colorForWarningHighlighted: rgb(134, 130, 93);
@colorForSuccess: rgb(127, 160, 134);
@colorForSuccessHighlighted: rgb(96, 129, 102);

@colorForShadow: rgba(0, 0, 0, 0.25);

@colorForLink: rgb(126, 139, 168);
@colorForLinkHighlighted: rgb(93, 110, 131);
@colorForLinkShadow: rgb(162, 205, 255);

@timeForTransition: 0.25s;