@import 'variables';

.waitress {
    h1,
    h2 {
        margin: 0.5em 0;
        font-size: 2em;
        font-weight: normal;
    }
    
    h2 {
        margin-top: 2em;
        
        &:first-child {
            margin-top: 0.5em;
        }
    }
    
    h3 {
        margin: 1em 0;
        font-size: 1em;
        font-weight: normal;
    }
    
    pre {
        padding: 0.5em 1em;
        border: 1px dashed @colorForReading;
    }
    
    button {
        margin: 0 0 0 3em;
        padding: 0;
        display: inline;
        font-size: 1em;
        color: @colorForLink;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;

        &:before {
            margin-left: -1.5em;
            position: absolute;
            content: '➜';
        }

        &.active,
        &:hover {
            color: @colorForLinkHighlighted;
            text-shadow: 0 0 0.25em @colorForShadow;
        }
    }
    
    table {
        margin: 3em auto;
        border-collapse: collapse;
        width: 100%;
        
        td, th {
            border-left: 2em solid transparent;
            border-right: 2em solid transparent;
            border-top: 0.5em solid transparent;
            border-bottom: 0.5em solid transparent;
            text-align: left;
            
            .waitress-loader {
                display: inline-block;
                
                span {
                    float: left;
                }
                
                img {
                    float: right;
                    display: block;
                    margin: 0.5em 0 0.5em 1em;
                    height: 1em;
                    width: 1em;
                }
            }
        }
        
        tr:first-child th {
            border-top: 0;
        }
        
        tr:last-child td {
            border-bottom: 0;
        }
        
        tr td:first-child,
        tr th:first-child {
            border-left: 0;
        }
        
        tr td:last-child,
        tr th:last-child {
            border-right: 0;
        }
        
        th {
            color: @colorForReadingMuted;
            font-weight: normal;
        }
    }
    
    .waitress-container {
        margin: 4em auto;
        width: @widthForContainer;
    }
    
    .waitress-header {
        position: fixed;
        padding-top: 8em;
        width: 10em;
        
        img {
            position: absolute;
            display: block;
            top: -3em;
            left: 0;
            right: 0;
            width: 10em;
            height: 10em;
        }
        
        h1 {
            text-align: center;
        }
        
        p {
            font-size: 0.75em;
            color: @colorForReadingMuted;
            text-align: center;
        }
        
        nav {
            a {
                display: block;
                padding-left: 2em;

                &:before {
                    margin-left: -1.5em;
                    position: absolute;
                    content: '➜';
                }
            }
        }
    }
    
    .waitress-section,
    .waitress-footer {
        padding-top: 8em;
        padding-left: 16em;
    }
    
    .waitress-section {
        
    }
    
    .waitress-footer {
        text-align: right;
        color: @colorForReadingMuted;
    }
}