@import 'variables';

.waitress {
    h1,
    h2 {
        margin: 0.5em 0;
        font-size: 2em;
        font-weight: normal;
    }
    
    h3 {
        margin: 1em 0;
        font-size: 1em;
        font-weight: normal;
    }
    
    .waitress-container {
        margin: 4em auto;
        width: @widthForContainer;
    }
    
    .waitress-header {
        position: fixed;
        padding-top: 8em;
        width: 10em;
        
        img {
            position: absolute;
            display: block;
            top: 0;
            left: 1.5em;
            right: 1.5em;
            width: 7em;
            height: 7em;
        }
        
        h1 {
            text-align: center;
        }
        
        p {
            font-size: 0.75em;
            color: @colorForReading * 2;
            text-align: center;
        }
        
        nav a {
            padding-left: 2em;
            
            &:before {
                margin-left: -1.5em;
                position: absolute;
                content: '➜';
            }
        }
    }
    
    .waitress-section,
    .waitress-footer {
        padding-top: 8em;
        padding-left: 16em;
    }
    
    .waitress-section {
        
    }
    
    .waitress-footer {
        text-align: right;
        color: @colorForReadingMuted;
    }
}