<section class="waitress-content" data-ng-hide="user.isCreated">
    <h1>Waitress is operational</h1>
    <p>The tool has been installed successfully, but before you can use it there is still some basic configuration left to be done. Please proceed to the <a href="#/user/create">user creation</a>.</p>
</section>

<section class="waitress-content" data-ng-show="user.isCreated">
    <h1>About</h1>
    <p>Waitress is a simple publishing tool, which gives you control over exposing your websites and tools to the public use. Once you will create a repository on github, you can assign it to waitress in order to automatically deploy the latest master branch. Once you are satisfied with the way it presents itself, you can deploy it further into the public environment, which can be assigned easy to access web domains.</p>
    
    <h2 class="distant-top">Considerations</h2>
    <p>Waitress uses the ports from the range 3000 &dash; 9000, so when you are about to create an application which uses ports during it's runtime, please ensure those do not collide with that range.</p>
</section>