<section class="waitress-content">
    <h1>Logs</h1>
    <p>By default you see latest 128 logs. You can switch to more, like <a href="#/logs/256">256</a>, <a href="#/logs/512">512</a> or <a href="#/logs/2048">2048</a> for example.</p>
    
    <ol class="waitress-list">
        <li data-ng-repeat="log in logs">
            <span class="pull-right">{{ log.timestamp | date: dateFormats.datetime }}</span>
            <strong data-ng-class="{ 'color-success': log.level === 'info', 'color-failure': log.level === 'error', 'color-warning': log.level === 'warn' }">{{ log.message }}</strong>
        </li>
    </ol>
</section>