<section class="waitress-roadmap">
    <h2>Roadmap</h2>
    <p>The waitress follows the <a target="_blank" href="http://www.semver.org">semantic versioning</a> convention.</p>

    <h3>Version 0.2.0</h3>
    <ul>
        <li>Utility script that will deploy the live version of the applications.</li>
        <li>Utility script that will deploy the development version of the applications.</li>
    </ul>

    <h3>Version 0.0.2</h3>
    <ul>
        <li>
            <span>Startup script that will ensure waitress services work even after host rebooting.</span>
            <ul>
                <li>Forever service that will keep the application running even if it crashes.</li>
                <li>System job that will run the forever service whenever system starts.</li>
            </ul>
        </li>
    </ul>

    <h3>Version 0.1.0</h3>
    <ul>
        <li>Fix the arrows disapearance next to the header navigation while mouse pointing.</li>
        <li>Utility script that will install and expose selenium service.</li>
        <li>Utility script that will install nginx service.</li>
        <li>Startup script that will install waitress and display this panel.</li>
        <li class="done">Friendly panel that will beautify and simplify remote server administration.</li>
    </ul>

    <h3>Unassigned</h3>
    <ul>
        <li>Make the waitress logo go fancy CSS rotate when you point your mouse at it.</li>
    </ul>
</section>