<section class="waitress-roadmap">
    <h2>Roadmap</h2>
    <p>The waitress follows the <a target="_blank" href="http://www.semver.org">semantic versioning</a>.</p>

    <h3>Version 0.2.0</h3>
    <ul>
        <li>Utility script that will deploy the live version of the applications.</li>
        <li>Utility script that will deploy the development version of the applications.</li>
    </ul>
    
    <h2>Changelog</h2>

    <h3>Version 0.1.0</h3>
    <ul>
        <li class="done">Fix the arrows disapearance next to the header navigation while mouse pointing.</li>
        <li class="done">Utility script that will install and expose waitress web panel.</li>
        <li class="done">Utility script that will install nginx service.</li>
        <li class="done">Friendly panel that will beautify and simplify remote server administration.</li>
    </ul>
    
    <h2>Others</h2>

    <h3>Unassigned</h3>
    <ul>
        <li>Make the waitress logo go fancy CSS rotate when you point your mouse at it.</li>
        <li>Make the waitress setup configurable, instead of hardcoded in shell scripts.</li>
        <li>Make the waitress expose a subsite with port policy information.</li>
        <li>Make the waitress use sci fi ui module.</li>
        <li>Make an utility script that will install and expose protractor service (this is hardcore, possibly useless).</li>
    </ul>

    <h3>Community suggestions</h3>
    <ul>
        <li>&hellip;</li>
    </ul>
</section>