<section class="waitress-roadmap">
    <h2>Roadmap</h2>
    <p>The waitress follows the <a target="_blank" href="http://www.semver.org">semantic versioning</a>.</p>
    
    <h3>Version 0.3.0</h3>
    <ul>
        <li>Disable nginx hosting when publishing website, enable afterwards. Display maintanance screen in between.</li>
        <li>Utility script that will assign a domain to the waitress herself.</li>
        <li>Improved quality of loadings and user interaction.</li>
        <li>Improved design.</li>
    </ul>

    <h3>Version 0.2.0</h3>
    <ul>
        <li class="done">Fix the breaking localStorage whenever you delete <code>user.json</code> file.</li>
        <li class="done">Improved quality of the websockets communication.</li>
        <li class="done">Improved socket usage to work through websocket service only.</li>
        <li>Friendly panel that will allow for website domain assignment.</li>
        <li>Utility script that will assign a domain to the public version of the website.</li>
        <li>Utility script that will revert the public version of the website.</li>
        <li>Utility script that will deploy the public version of the website.</li>
        <li>Utility script that will automatically deploy the latest version of the website.</li>
        <li>Replace the ubuntu with fedora.</li>
        <li>Improve the configurability of the application by removing the hardcoded values.</li>
        <li>Improve the interface of the application by isolating websockets.</li>
        <li>Improve the stability of the development with tests.</li>
        <li class="done">Utility script that will read version data for websites.</li>
        <li class="done">Utility script that will expose public and latest version of the website on specific ports.</li>
        <li class="done">Utility script that will list the websites present in the system.</li>
        <li class="done">Utility script that will perform the initial setup of a new website.</li>
        <li class="done">Security, restriction of unauthorized access.</li>
        <li class="done">Friendly panel that will present tools to operate on website.</li>
    </ul>

    <h2>Changelog</h2>

    <h3>Version 0.1.0 &mdash; 17 june 2014</h3>
    <ul>
        <li class="done">Fix the arrows disapearance next to the header navigation while mouse pointing.</li>
        <li class="done">Utility script that will install and expose waitress web panel.</li>
        <li class="done">Utility script that will install nginx service.</li>
        <li class="done">Friendly panel that will beautify and simplify remote server administration.</li>
    </ul>

    <h2>Others</h2>

    <h3>Unassigned</h3>
    <ul>
        <li>Make the waitress logo go fancy CSS rotate when you point your mouse at it.</li>
        <li>Make the waitress setup configurable, instead of hardcoded in shell scripts.</li>
        <li>Make the waitress expose a subsite with port policy information.</li>
        <li>Make the waitress use sci fi ui module.</li>
        <li>Make the waitress more linux-friendly, handle user rights, be packaged or something. Such stuff.</li>
        <li>Make an utility script that will install and expose protractor service (this is hardcore, possibly useless).</li>
    </ul>
    
    <h3>Possible refactor</h3>
    <ul>
        <li>Review <code>website</code> vs <code>websites</code> dilema, services, front and backend wise.</li>
        <li>Review whether websocket can be further encapsulated with getters.</li>
        <li>Review whether putting event strings into constants really has any value.</li>
        <li>Review whether isLoading type of state information should be stored inside service or a controller.</li>
        <li>Review whether isolating sockets from the flow is worthwhile. See emitting data.</li>
        <li>Review how to bubble errors with promises.</li>
    </ul>

    <h3>Community suggestions</h3>
    <ul>
        <li>&hellip;</li>
    </ul>
</section>