<h2>Websites &bull; {{ repository.author }}/{{ repository.name }}</h2>
<p>Configuration of the website.</p>

<p data-ng-show="websiteState.isLoading">Website data is loading &hellip;</p>
<p data-ng-show="isRemoved">The website is removed.</p>

<section class="waitress-websites-details-list" data-ng-hide="websiteState.isLoading || isRemoved">
    <section>
        <dl>
            <dt>Repository</dt>    
            <dd>
                <menu>
                    <button data-ng-click="remove()">✖</button>
                </menu>
                <span>{{ repository.author }}/{{ repository.name }}</span>
            </dd>
        </dl>
    </section>
    
    <section class="pull-left">
        <dl>    
            <dt>Github hook</dt>
            <dd>
                <span>{{ website.ports.github }}</span>
            </dd>
        </dl>
        <dl>
            <dt>Ports used</dt>
            <dd>
                <menu>
                    <button>➤</button>
                </menu>
                <span>{{ website.ports.public }}</span>
                <menu>
                    <button>➤</button>
                </menu>
                <span>{{ website.ports.latest }}</span>
            </dd>
        </dl>
        <dl>
            <dt>Domains</dt>
            <dd>
                <div data-ng-repeat="domain in website.domains">
                    <menu>
                        <button>✖</button>
                    </menu>
                    <span>{{ domain }}</span>
                </div>
            </dd>
        </dl>
    </section>

    <section class="pull-right">
        <dl>
            <dt>Latest version</dt>    
            <dd>
                <menu>
                    <button>★</button>
                </menu>
                <span>{{ website.versions.latest }}</span>
            </dd>
        </dl>
        <dl>
            <dt>Public version</dt>    
            <dd>
                <span>{{ website.versions.public }}</span>
            </dd>
        </dl>
        <dl>
            <dt>Stored versions</dt>    
            <dd>
                <div data-ng-repeat="version in website.versions.stored">
                    <menu>
                        <button>↻</button>
                    </menu>
                    <span>{{ version }}</span>
                </div>
            </dd>
        </dl>
    </section>
</section>