<section class="waitress-content">
    <h1>Websites</h1>
    <p>A list of nginx hosted websites installed and kept running by the waitress.</p>

    <ul class="waitress-list">
        <li>
            <a href="#/websites/details/123">magicwrites &bull; waitress</a>
        </li>
        <li>
            <a href="#/websites/details/321">magicwrites &bull; personal-website</a>
        </li>
        <li>
            <a href="#/websites/details/111">magicwrites &bull; personal-website-sites</a>
        </li>
    </ul>
    
    <a href="#/websites/new" class="waitress-button waitress-button-link pull-right">
        <div class="icon" data-ng-include="getSvgFrom('icons/network')"></div>
        <span class="title">Add a new website</span>
    </a>
</section>