<section class="waitress-content">
    <h1>Websites</h1>
    <p>A list of nginx hosted websites installed and kept running by the waitress.</p>

    <ul class="waitress-list">
        <li data-ng-repeat="website in websites">
            <a data-ng-href="#/websites/details/{{ website._id }}">{{ website.repository.author }} &bull; {{ website.repository.name }}</a>
        </li>
    </ul>
    
    <a href="#/websites/new" class="waitress-button waitress-button-link pull-right">
        <div class="icon" data-ng-include="getSvgFrom('icons/network')"></div>
        <span class="title">Add a new website</span>
    </a>
</section>