<div data-ng-controller="navigation">
    <aside class="waitress-statuses">
        <div class="waitress-status color-success" data-ng-show="user.isConnected">
            <div class="icon" data-ng-include="getSvgFrom('icons/lightning')"></div>
            <span class="title">Connected</span>
        </div>
        
        <div class="waitress-status color-failure" data-ng-hide="user.isConnected">
            <div class="icon" data-ng-include="getSvgFrom('icons/lightning')"></div>
            <span class="title">Disconnected</span>
        </div>
        
        <div class="waitress-status color-warning" data-ng-hide="user.isCreated">
            <div class="icon" data-ng-include="getSvgFrom('icons/user')"></div>
            <span class="title">No user account</span>
        </div>
        
        <div class="waitress-status color-failure" data-ng-show="user.isCreated && !user.isAuthorized">
            <div class="icon" data-ng-include="getSvgFrom('icons/user')"></div>
            <span class="title">Unauthorized</span>
        </div>
        
        <div class="waitress-status color-success" data-ng-show="user.isCreated && user.isAuthorized">
            <div class="icon" data-ng-include="getSvgFrom('icons/user')"></div>
            <span class="title">Authorized</span>
        </div>
    </aside>

    <a href="#/home" class="waitress-logo" data-ng-disabled="!user.isAuthorized">
        <span>Waitress</span>
    </a>

    <nav class="waitress-navigation">
        <a href="#/user" data-ng-disabled="!user.isAuthorized">
            <div data-ng-hide="user.isAuthorized" class="icon" data-ng-include="getSvgFrom('icons/lock')"></div>
            <div data-ng-show="user.isAuthorized" class="icon" data-ng-include="getSvgFrom('icons/user')"></div>
            <span class="title">User profile</span>
        </a>
        <a href="#/repositories" data-ng-disabled="!user.isAuthorized">
            <div data-ng-hide="user.isAuthorized" class="icon" data-ng-include="getSvgFrom('icons/lock')"></div>
            <div data-ng-show="user.isAuthorized" class="icon" data-ng-include="getSvgFrom('icons/github')"></div>
            <span class="title">Repositories</span>
        </a>
        <a href="#/logs" data-ng-disabled="!user.isAuthorized">
            <div data-ng-hide="user.isAuthorized" class="icon" data-ng-include="getSvgFrom('icons/lock')"></div>
            <div data-ng-show="user.isAuthorized" class="icon" data-ng-include="getSvgFrom('icons/note')"></div>
            <span class="title">Logs</span>
        </a>
    </nav>
</div>